
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');



$main-color:#F29724;
$btn-meal-color: #21BA75;
$btn-h-meal-color: #059669;
$main-bg-color: #F4F2EE;
$main-text-color: #333333;
$body-font-family: "Patrick Hand", serif;
$header-font-family: "Pacifico", serif;







